# TF1 assessement - Analytics Engineer

### On commence par lire les données depuis les fichiers CSV

In [1]:
import pandas as pd

In [2]:
contents = pd.read_csv('data/CONTENTS.csv', encoding='utf-8')
user_events = pd.read_csv('data/USER_EVENTS.csv', parse_dates=['PLAY_START', 'PLAY_END'], encoding='utf-8')
users = pd.read_csv('data/USERS.csv', parse_dates=['USER_CREATED_DATE'], encoding='utf-8')

In [4]:
contents.head(3)

,CONTENT_ID,CONTENT_DURATION,CONTENT_PROGRAM_ID,CONTENT_PROGRAM_NAME,CONTENT_TYPE
0,c46819a0-07aa-4330-b095-d265993be4ab,0,1f68f713-fd53-4353-9209-3bf1e2e119d2,Profilage,Série
1,69dbc04e-cfaa-4526-a64d-7701b8f42077,0,a3b85c07-7001-4b31-9dc0-80b241b1063b,La bataille des clans,Jeu
2,5e506981-0124-42c1-a321-f023770c9696,182,16d805c1-8c62-4e9b-bc72-0b504478ebf3,Football - EURO,Evènement sportif

In [5]:
contents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3955 entries, 0 to 3954
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CONTENT_ID            3955 non-null   object
 1   CONTENT_DURATION      3955 non-null   int64
 2   CONTENT_PROGRAM_ID    3955 non-null   object
 3   CONTENT_PROGRAM_NAME  3955 non-null   object
 4   CONTENT_TYPE          3955 non-null   object
dtypes: int64(1), object(4)
memory usage: 154.6+ KB

In [6]:
user_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EVENT_DATE   32000 non-null  object
 1   DEVICE       32000 non-null  object
 2   OS           31990 non-null  object
 3   IS_LOGGEDIN  32000 non-null  bool
 4   USER_ID      32000 non-null  object
 5   CONTENT_ID   32000 non-null  object
 6   PLAY_ID      32000 non-null  object
 7   PLAY_START   32000 non-null  datetime64[ns]
 8   PLAY_END     32000 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), object(6)
memory usage: 2.0+ MB

In [7]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15993 entries, 0 to 15992
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USER_ID            15993 non-null  object
 1   USER_CREATED_DATE  15993 non-null  datetime64[ns]
 2   USER_AGE           15990 non-null  float64
 3   USER_GENDER        15991 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 499.9+ KB

### Maintenant, on crée la base de données Sqlite et on y insère les données

In [8]:
import sqlite3

conn = sqlite3.connect('tf1.db')

In [9]:
contents.to_sql('contents', conn, if_exists='replace', index=False)
user_events.to_sql('user_events', conn, if_exists='replace', index=False)
users.to_sql('users', conn, if_exists='replace', index=False)

15993

### On test par quelques requêtes simples

In [10]:
pd.read_sql(""" 
    select * 
    from user_events
    limit 2
""", conn)

,EVENT_DATE,DEVICE,OS,IS_LOGGEDIN,USER_ID,CONTENT_ID,PLAY_ID,PLAY_START,PLAY_END
0,2024-06-17,smart-tv,amazon,1,02449dbb096ff022496bfd3a4063804cee173694,222efbcd-40e1-4bd8-885f-06d28d71b5c4,d478b4d071424e33d39605b9eda50637f448852bdaaaa8...,2024-06-17 11:52:56.708000,2024-06-17 11:52:57.708000
1,2024-06-17,smart-tv,google,1,8d4ab68f0bcebbbadf1a3c85ce9eb3f5b84d66b2,65b6ebcd-749e-4ad4-81fc-394a57ae8635,ab4821ae7238adb9b0518d9a0ebe9fe232c80d271aca77...,2024-06-17 05:54:55.937000,2024-06-17 05:54:56.937000

In [11]:
pd.read_sql('''
SELECT COUNT(*) AS total_users
FROM users
            ''', conn)

   total_users
0        15993

In [12]:
users.shape[0]

15993

C'est cohérent!

### On passe vers les questions!